.steps_first-step {
    padding: 0.5rem;
    position: relative;

    @media (min-width: 600px) {
        &::before {
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 80%;
            background-color: $clr-secondary;
            z-index: -1;
        }
    
        &::after {
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0%;
            left: 60%;
            background-color: $clr-secondary;
            z-index: -1;
        }
    }


    .svg--container {
        width: 50%;
        margin: 0 auto;
        min-width: 200px;
        max-width: 250px;
        position: relative;

        @media (min-width: 600px) {
            &::before {
                content: "";
                width: 30px;
                height: 30px;
                position: absolute;
                top: 40%;
                right: -50%;
                background-color: $clr-tertiary;
                z-index: -1;
            }
        }

        img {
            width: 100%;
        }

        video {
            width: 54.6%;
            position: absolute;
            top: 11%;
            left: 3.7%;
        }
    }
}