.steps_second-step {
    padding: 0.5rem;
    position: relative;

    @media (min-width: 600px) {
        &::before {
            content: "";
            width: 10px;
            height: 10px;
            position: absolute;
            top: 50%;
            left: 20%;
            background-color: $clr-secondary;
        }
    
        &::after {
            content: "";
            width: 25px;
            height: 25px;
            position: absolute;
            top: 20%;
            left: 30%;
            background-color: $clr-tertiary;
        }
    }

    .svg--container {
        width: 50%;
        margin: 0 auto;
        min-width: 300px;
        max-width: 400px;
        position: relative;

        
        @media (min-width: 600px) {
            &::before {
                content: "";
                width: 30px;
                height: 30px;
                position: absolute;
                top: 40%;
                right: -30%;
                background-color: $clr-secondary;
            }
        }

        img {
            width: 100%;
        }

        video {
            width: 30%;
            position: absolute;
            top: 10%;
            left: 67.3%;    
        }
    }
}