.steps_third-step {
    padding: 0.5rem;
    position: relative;

    @media (min-width: 600px) {
        &::after {
            content: "";
            width: 25px;
            height: 25px;
            position: absolute;
            top: 20%;
            left: 20%;
            background-color: $clr-secondary;
        }
    }

    .svg--container {
        width: 50%;
        margin: 0 auto;
        min-width: 300px;
        max-width: 400px;

        img {
            width: 100%;
        }
    }
}