*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%; //1rem = 10px
}

body {
    font-family: $ff-primary;
    font-weight: $fw-regular;
    line-height: 1.6;
    color: $clr-primary;
    background-color: rgba(#000000, 0.12);
}

svg {
    filter: drop-shadow(0px 0px 1.5px rgba($clr-primary, 1));
}

