//font-families:
$ff-primary: "Merriweather Sans", "sans-serif";

//font-weights:
$fw-light: 300;
$fw-light-italic: 300 italic;
$fw-regular: 400;
$fw-regular-italic: 400 italic;
$fw-medium: 500;
$fw-medium-italic: 500 italic;
$fw-semi-bold: 600;
$fw-semi-bold-italic: 600 italic;
$fw-bold: 700;
$fw-bold-italic: 700 italic;
$fw-extra-bold: 800;
$fw-extra-bold-italic: 800 italic;

//colors:
$clr-primary: #3A3A3A;
$clr-secondary: #FF630C;
$clr-tertiary: #FFFFFF;
