.geo {
    padding: 5rem;
    padding-top: 15rem;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 716px) {
        flex-direction: column;
        gap: 5rem;
        text-align: center;
        flex-shrink: 0;
    }

    &_content {
        width: 50%;
        @media (max-width: 716px) {
            width: 300px;
        }
    }

    &_img--container {
        width: 50%;
        min-width: 320px;
        display: flex;
        justify-content: center;

        img {
            width: 70%;
            // object-fit: cover;

            
        
        }
    }
}